<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Abrir chamado</title>
    </head>
    <body>
      <h2>Abrir novo chamado:</h2>
      <div> 
        <textarea cols="40" placeholder="Informe o tipo de chamado"></textarea>

      </div>
      <div>
        <textarea rows="10" cols="40" maxlength="500" placeholder="Descreva o chamado"></textarea>
      </div>
      <div>
        <input type="submit" value="Enviar"/>
        <input type="submit" value="Cancelar"/>
      </div>
    </body>
  </html>